button{

    color: red;

}

H1{

    color: rgb(0, 130, 119);
}
.clase-h2{

    color: rgb(204, 75, 15);
}

#identidad 
{

    color: rgb(37, 5, 151);
}
h2 p 
{

    color: rgb(151, 5, 131);
}
.clase-h2x2:hover {

    color: rgb(189, 14, 14);
}

